// Secondary Color
$blue : #1678fb;
$blueLight3 : #509cff;
$blueLight2 : #86bbff;
$blueLight1 : #bedaff;
$blueDark3 : #0459c9;
$blueDark2 : #023c88;
$blueDark1 : #012049;

// Black and White
$black : #000000;
$white : white;

// Gray
$gray8 : #202020;
$gray7 : #3E3E3E;   // Header
$gray6 : #535353;   // Input
$gray5 : #707070;   
$gray4 : #929292;
$gray3 : #b1b1b1;
$gray2 : #cfcece;
$gray1 : #e6e6e6;