// Secondary Color
$blue : #0B57D0;
$blueLight4 : #1c79f1;
$blueLight3 : #509cff;
$blueLight2 : #86bbff;
$blueLight1 : #bedaff;
$blueDark3 : #00459e;
$blueDark2 : #002658;
$blueDark1 : #061a33;

// Black and White
$black : #000000;
$white : white;

// Gray
$gray8 : #202020;
$gray7 : #3E3E3E; // Header
$gray6 : #535353; // Input
$gray5 : #707070;
$gray4 : #929292;
$gray3 : #b1b1b1;
$gray2 : #cfcece;
$gray1 : #e6e6e6;

// yellow 
$yellow : #EDC701;