@import '../../../assets/scss/color.scss';

.header{
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(8px);
    padding: 20px 8%;
    z-index: 10;

    .header-left{
        .menu-button {
            display: none;
            .menu-icon{
                font-size: 22px;
                padding: 0px 10px;
                cursor: pointer;
            }
        }
    }
    .header-right{
      
        
        .menu-items{
            ul{
                list-style: none;
                display: flex;
                li{
                    margin: 0 15px;
                    font-size: 17px;
                    font-weight: 500;
                    a{
                        color: $grayColor;
                    }
                    .active{
                        color: black;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 900px) {
    .header {
        display: block;

        .header-left {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .menu-button {
                display: block;
            }
        }

        .header-right {
            margin-top: 15px;
            display: none;


            .menu-items {
                width: 100%;

                ul {
                    display: block;
                    padding: 0;

                    li {
                        margin: 0;
                        padding: 10px;
                    }
                }
            }
        }
        .show-menu-item{
            display: block;
        }
    }

}